<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../assets/css/index.css">
    </head>
<body>
    <h1>strona internetowa</h1>
    <form action="">
        <input type="text">
        <button>klik</button>
        <div>
    </form>
    <script src="./../js/func.js"></script>
    </div>
    {{pageTitle}}
</body>
</html>